<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}">New Post</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>